/* overrides for "L33t NeRD" theme */

@font-face{
    font-family: 'Orbitron';
    font-weight: bold;
    src: url("/static/links/Orbitron-Bold.ttf");
}
@font-face{
    font-family: 'UbuntuCond';
    font-weight: normal;
    src: url("/static/links/Ubuntu-C.ttf");
}

body {
    background: #224f32;
    color: #66bb93;
    font-family: UbuntuCond, monospace;
}

#content {
    /* subtract footer height plus a bit extra or we get an unnecessary scrollbar */
    min-height: calc(100vh - 90px);
}

h1, h1 a:link, h1 a:visited {
    font-family: 'Orbitron';
    font-size: 75pt;
    font-weight: bold;
    color: #408f6a;
    margin: 0 0 -10px;
    padding: 0;
    text-transform: lowercase;
    text-stroke: 2px black;
    -webkit-text-stroke: 2px black;
}
h1 a:active {
    color: #83ffe8;
}

hr {
    color: #3eea99;
}

a {
    color: #3eea99;
    display: inline-block;
}
a:visited {
    color: #3eea99;
}
a:hover {
    color: #83ffe8;
}
a:active {
    color: #f0f7f3;
}

table#link_table thead th {
    border-bottom: 1px solid black;
    color: #83ffe8;
    font-size: 1.1em;
}
table#link_table tr td {
    border-top: 1px solid #396a38;
}
td.linkcolumn {
    /* truncate long links */
    white-space: nowrap;
    overflow: hidden;
    display: block;
    /* */
}

div#no_links_message {
    color: #408f6a;
}

div#search {
    display: block;
}
div#vspace {
    height: 15px;
    display: block;
}
