/* notes
- all custom #content min-height
- experiment w/ top-level td and inline-block

*/

/* CSS shared by all themes */

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    min-height: 100%;
}

body {
    padding: 10px;
    margin: 0px;
    font-size: 10pt;
    text-align: center;
}

#content {
    /* subtract footer height plus a bit extra or we get an unnecessary scrollbar */
    min-height: calc(100vh - 75px);
}

footer {
    height: 30px;
    padding-top: 30px;
}

table {
    border-spacing: 0;
}

td {
    padding: 0 15px 0 0;
}

a {
    text-decoration: none;
}

input[type=submit],
select {
    padding-left: 20px;
    padding-right: 20px;
    color: #000;
}

input[type=submit]:active,
input[type=submit]:focus,
input[type=submit]:hover,
select:active,
select:focus,
select:hover
{
    color: #404;
}

.bold {
    font-weight: bold;
}

/* ---- containers ------------------------------------------------------------------------------------ */

div#form_container {
    display: inline-block;
    text-align: left;
    width: 70%;
    margin-left: 12%;
    margin-right: 18%;
}

div#small_form_container {
    display: inline-block;
    text-align: left;
    width: 600px;
    margin-right: 50px;
}

div#link_container {
    text-align: left;
}

div#login_container {
    display: inline-block;
    text-align: left;
    width: 300px;
    margin-right: 50px;
}

div#footer_container {
    padding: 10px 0;
}

/* ---- form table ------------------------------------------------------------------------------------ */

table#form_table {
    width: 100%;
}

table#form_table td {
    padding: 3px 10px;
}

table#form_table th {
    font-weight: normal;
    white-space: nowrap;
    width: 1%;
}

table#form_table td.expand input {
    width: 100%;
}

table#form_table td.shrink {
    width: 1%;
}

/* ---- link table ------------------------------------------------------------------------------------ */

table#link_table {
    width: 100%;
}

table#link_table thead th {
    padding-top: 20px;
    border-bottom: 1px solid black;
}
table#link_table tr td {
    vertical-align: top;
    border-top: 1px solid black;
}

td.padcolumn {
    margin-right: 5px;
    width: 1%;
}
td.linkcolumn {
    max-width: 600px;
    vertical-align: top;
}
td.notecolumn, th.notecolumn {
    padding-left: 10px;
}
td.datecolumn, th.datecolumn {
    padding-left: 10px;
}

button.edit_button {
    font-size: 8pt;
    padding: 0 5px;
    margin: 0;
    cursor: pointer;
    *cursor: hand;
    white-space: nowrap;
    color: #333;
    background-color: #e5e5e5;
    background-image: -webkit-linear-gradient(top, #f5f5f5, #d4d4d4);
    background-image: -moz-linear-gradient(top, #f5f5f5, #d4d4d4);
    background-image: linear-gradient(to bottom, #f5f5f5, #d4d4d4);;
    border: 1px solid #b2b2b2;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

a.edit_link button {
    visibility: hidden;
}
tr:hover a.edit_link button {
    visibility: visible;
}

span.edit_category a button {
    visibility: hidden;
}
span.edit_category:hover a button {
    visibility: visible;
}


/* ---- other elements -------------------------------------------------------------------------------- */

div#errors {
    color: red;
    background: black;
    padding: 10px 40px;
    margin: -20px 0 10px;
    font-size: 12pt;
    font-weight: bold;
    display: inline-block;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

div#errors li {
    list-style-type: none;
}

div#logout {
    margin: 10px;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
}

div#logout input {
    margin-bottom:10px;
}

div#no_links_message {
    padding: 100px;
    font-size: 20pt;
    font-style: italic;
    font-weight: bold;
}

div#search {
    display: none;
    position: absolute;
    left: 40%;
}
div#vspace {
    display: none;
}
div#sort {
    position: absolute;
    text-align: right;
    right: 10px;
}

span#copyright {
}
span#pick_theme {
    position: absolute;
    right: 20px;
}

form#theme_form {
    display: inline-block;
}
