# NOTE: don't modify this file; copy to prod.env and modify the variables there
#
# ALSO NOTE: this file is used as an env_file by docker compose AND as an
# included file by the Makefile; be careful :)

# the domain name of your website
DOMAIN_NAME=example.com

# leave this one alone unless you really need to do otherwise...
DJANGO_DEBUG=False

# this is the hostname of your webserver for rsync purposes;
# leave unchanged if it's the same as DOMAIN_NAME
REMOTE_HOST=${DOMAIN_NAME}

# this is the path (on the webserver) for storing static files;
# it will match the static files path in your nginx config
REMOTE_STATIC=/path/to/store/static/files
