{% extends "molinks/base.html" %}

{% block content %}

{% if errors %}
<p>Invalid login, please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<div id="login_container">
<form method="post" action="">
{% csrf_token %}
<table id="form_table">
    <tbody>
    <tr>
        <th><label for="{{ form.username.id_for_label }}">{{ form.username.label }}</label></th>
        <td colspan="3" class="expand">{{ form.username }}</td>
    </tr>
    <tr>
        <th><label for="{{ form.password.id_for_label }}">{{ form.password.label }}</label></th>
        <td colspan="3" class="expand">{{ form.password }}</td>
    </tr>
    <tr>
        <td></td>
        <td colspan="3"><input type="submit" value="Login">
            <input type="hidden" name="next" value="{{ next }}">
        </td>
    </tr>
    </tbody>
</table>
</form>
</div>

{% endblock %}
