{% extends "base.html" %}

{% block title %}Mo Links - Edit Category {% endblock %}

{% block content %}

{% include "links/logout.html" %}

<div id="small_form_container">
<form method="post" action="{{ cat_id }}">
{% csrf_token %}
<table id="form_table">
    <tbody>
    <tr>
        <th><label >Old category name</label></th>
        <td class="bold" colspan="3" class="expand">{{ category.name }}</td>
    </tr>
    <tr>
        <th><label for="{{ form.name.id_for_label }}">New category name</label></th>
        <td colspan="3" class="expand">{{ form.name }}</td>
    </tr>
    <tr>
        <td></td>
        <td colspan="3">
            <input type="submit" name="save" value="Save">
            <input type="submit" name="cancel" value="Cancel">
        </td>
    </tr>
    </tbody>
</table>
</form>
</div>

{% endblock content %}


