{% extends "base.html" %}

{% block title %}Links Page{% endblock %}

{% block content %}

{% if errors %}
<p>{{ errors }}</p>
{% endif %}

<form method="post" action="">
{% csrf_token %}
<table>
    {{ form.as_table }}

<tr><td>
    <input type="submit" value="Save">
</td></tr>

</table>
</form>


{% if link_heir %}
    <table id="link_table" border=1>
    {% for cat_id, group in link_heir.items %}
        <thead>
            <tr><th colspan="4">{{ group.cat.name }}
                <a class="edit_link" href="category/{{ group.cat.id }}">Edit Category</a></th>
            </tr>
        </thead>
        <tbody>
            {% for link in group.links %}
                <tr>
                    <td class="padcolumn">
                        <a class="edit_link" href="link/{{ link.id }}">Edit</a></td>
                    <td>
                        <a href="{{ link.url }}">{{ link.url }}</a></td>
                    <td>{{ link.note }}</td>
                    <td>{{ link.updated }}</td>
                </tr>
            {% endfor %}
        </tbody>
        {% endfor %}
    </table>
{% else %}
    <p class='no_links_message'>Ain't no links yet, yo.</p>
{% endif %}

{% endblock %}
