{% extends "links/main.html" %}

{% block links_container %}
    <div id="link_container">

        <div id="search">
            <input id="filterbox" placeholder="Search">
            <script>
                molinks.filter({
                    table_id: "link_table",
                    td_plain_classes: ['notecolumn', 'datecolumn', 'catcolumn'],
                    td_link_classes:  ['linkcolumn'],
                });
            </script>
        </div>
        <div id="vspace">
        </div>
        <div id="sort">
            <a href="/"><button class="edit_button" type="button">Order by category</button></a></th>
        </div>

    <table id="link_table">
    <thead>
        <tr>
            <th></th>
            <th>Link</th>
            <th class="notecolumn">Note</th>
            <th>Category</th>
            <th class="datecolumn"></th>
        </tr>
    </thead>
    <tbody>
        {% for link in link_heir %}
            <tr>
                <td class="padcolumn">
                    <a class="edit_link" href="/link/{{ link.id }}"><button class="edit_button" type="button">Edit</button></a></td>
                <td class="linkcolumn"><a href="{{ link.url }}">{{ link.url }}</a></td>
                <td class="notecolumn">{{ link.note }}</td>
                <td class="catcolumn">{{ link.category.name }}</td>
                <td class="datecolumn">{{ link.updated|date:'Y-m-d' }}</td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
    </div>
{% endblock links_container %}

